body {
    font-family: "Lato", sans-serif;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
    padding-top: 60px;
    height: 100%;
    background-color: #fff;
    transition: 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  }

  .w300 {
    width: 380px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
    text-align: center;
  }

  .sidenav a:hover {
    color: #f1f1f1;
    background-color: #8000ff;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    font-weight: bold;
  }
  .sidenav .closebtn:hover{
    background-color: #ffffff;
    color: #da3131;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 18px;
    }
  }

  
  .wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .link_wrapper{
    position: relative;
  }
  
  #button{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #8000ff;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    border: 3px solid #8000ff;
    transition: all .35s;
  }
  
  .icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
  .icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #8000ff;
    transition: all .35s;
  }
  
  #button:hover{
    width: 200px;
    border: 3px solid #8000ff;
    background: transparent;
    color: #8000ff;
  }
  
  a:hover + .icon{
    border: 3px solid #8000ff;
    right: -25%;
  }